<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta') %>
    <title><%= message %></title>
  </head>
  <body>
    <div class="app">
      <%- include('partials/header') %>
      <main>
        <span class="message"><%= message %></span>
      </main>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
