<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta') %>
    <link href="/styles/grids/set.css" rel="stylesheet" />
    <link href="/styles/form.css" rel="stylesheet" />
    <script src="/scripts/card/create.js" defer></script>
    <title><%= result.set.name %></title>
  </head>
  <body>
    <div class="app">
      <%- include('partials/header') %>
      <main>
        <section class="set-grid">
          <div class="set-grid-description">
            <h2><%= result.set.name %></h2>
            <p><%= result.set.description %></p>
            <span class="date">Created: <%= result.set.created_at %></span>
            <span class="date">Last Updated: <%= result.set.updated_at %></span>
          </div>
          <a class="set-grid-update" href="/set/<%= result.set.id %>/update"
            >Update</a
          >
          <a class="set-grid-delete" href="/set/<%= result.set.id %>/delete"
            >Delete</a
          >
          <a class="set-grid-study" href="/set/<%= result.set.id %>/study"
            >Study</a
          >
        </section>
        <section class="form-wrapper">
          <form
            name="add-flashcard"
            class="form"
            data-id="<%= result.set.id %>"
          >
            <h2>Add a Flashcard</h2>
            <div class="form-group">
              <label for="card_question">Question</label>
              <input
                type="text"
                id="card_question"
                name="card_question"
                placeholder="Enter the question"
                required
              />
            </div>
            <div class="form-group">
              <label for="card_answer">Answer</label>
              <input
                type="text"
                id="card_answer"
                name="card_answer"
                placeholder="Enter the answer"
                required
              />
            </div>
            <button type="submit" class="form-submit">Add Card</button>
          </form>
        </section>
        <section class="set-cards">
          <% result.cards.forEach(card => { %>
          <div class="set-card" data-id="<%= card.id %>">
            <div>
              <h3><%= card.question %></h3>
              <p><%= card.answer %></p>
            </div>
            <div class="set-card-options">
              <a class="card-option-update" href="/card/<%= card.id %>/update"
                >Update</a
              >
              <button class="card-option-delete">Delete</button>
            </div>
          </div>
          <% }) %>
        </section>
      </main>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
