<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta') %>
    <link href="/styles/form.css" rel="stylesheet" />
    <title>Update Set</title>
  </head>
  <body>
    <div class="app">
      <%- include('partials/header') %>
      <main>
        <form
          method="POST"
          action="/set/<%= set.id %>/update"
          name="add-flashcard"
          class="form"
        >
          <h2>Update Flashcard Set</h2>
          <div class="form-group">
            <label for="set_name">Set Name</label>
            <input
              type="text"
              id="set_name"
              name="set_name"
              placeholder="Name of the set"
              value="<%= set.name %>"
              required
            />
          </div>
          <div class="form-group">
            <label for="set_desc">Set Description</label>
            <input
              type="text"
              id="set_desc"
              name="set_desc"
              placeholder="What is the flashcard set about?"
              value="<%= set.description %>"
              required
            />
          </div>
          <button type="submit" class="form-submit">Update Set</button>
        </form>
      </main>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
